@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes blinkCursor {
      50% {
        border-right-color: transparent;
      }
    }
  
    @keyframes typeAndDelete {
      0%,
      10% {
        width: 0;
      }
      45%,
      55% {
        width: 5em;
      }
      90%,
      100% {
        width: 0;
      }
    }
  
    .animate-typeAndDelete {
      animation: typeAndDelete 4s steps(11) infinite,
        blinkCursor 0.5s step-end infinite alternate;
    }
  }